.modal {
    padding: 12px;
    border-radius: 8px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.modal-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8px;
}
