.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 12px;
    border-bottom: 2px solid black;
}

.navlinks{
    display: flex;
    flex-direction: row;
    gap: 12px;
    list-style: none;
}

.navlinks li{
    text-decoration: none;
}